<div class="container">
  <p class="mb-lg"><%= link_to fa_icon("chevron-left"), :back, class: "text-large", title: "Вернуться" %></p>

  <h2 class="title-large mb">Вопрос <%= @question.id %></h2>

  <%= render "form", question: @question  %>

</div>
