<div class="container mb-sm">
  <h2 class="title-large">
    <%= @questions.count %>
    <%= inclination(@questions.count, "вопрос", "вопроса", "вопросов") %>
  </h2>
</div>

<% @questions.each do |question| %>
  <% style = question.hidden? ? "semitransparent" : "" %>
  <div class="container mb-sm <%= style %>">
    <%= render "question", question: question %>
  </div>
<% end %>
