<div class="container">
  <p class="mb-lg"><%= link_to fa_icon("chevron-left"), user_path(@question.user), class: "text-large", title: "Вернуться" %></p>
  <h2 class="title-middle mb-sm">Вопрос для <%= question_destination(@question) %></h2>
  <%= render @question %>
</div>
