body {
  background-color: #88d5e7;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 800px;
  margin: 40px;
  width: 100%;
}

.container {
  padding: 20px;
  border-radius: 15px;
  background-color: #fff1ff;
}

.navbar {
  padding: 20px 30px 20px 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fff1ff;
}

.navbar a {
  text-decoration: none;
}

.right {
  float: right;
}
