body {
  color: #6622cc;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20px;
}

a,
button {
  color: #6622cc;
  text-decoration: none;
}

.semitransparent {
  opacity: 65%;
}

.title-large {
  font-size: 175%;
}

.title-middle,
.title {
  font-size: 150%;
}

.title-small {
  font-size: 125%;
}

.text-large {
  font-size: 115%;
}

.text-small {
  font-size: 80%;
}

.text-bold {
  font-weight: bold;
}

.text-red {
  color: #cc0000
}

.text-dark-pink,
.text-dark-pink a{
  color: #df4693;
}

.text-blue,
.text-blue a{
  color: #0f66ff;
}

.text-center {
  text-align: center;
}
